<!DOCTYPE html">
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="all" />
<script src="{{ url_for('static', filename='jquery-3.6.0.js') }}"></script>
</head>

<body>
    <div class = 'submit'>
        <div style="float:right;text-align:left">
            <form action="/search" method="POST">
                <input type="text" name="searchword" class="field" />
                <input type="submit" name="search" value="Search" class="submit" />
            </form>
        </div>
    </div>
    <h1> <a href="/">THE ONLINE STORE </a></h1>


<ul>
    <li> <a href="/">Home</a></li>
    <li> <a href="/Books"> Books </a> </li>
    <li> <a href="/Clothing"> Clothing </a> </li>
    <li> <a href="/Electronics"> Electronics </a> </li>
    <li> <a href="/Accessories"> Accessories </a> </li>
    <li> <a href="/about"> About </a> </li>
    
    <div class="topnav-right">
        <li> {% block links %}       {% endblock %} </li>
    </div>
</ul>

{% block body %}
{% endblock %}

{% block script %}
{% endblock %}

</body>
</html>

