{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title">The Match</h1>
	<h2> Author: Harlen Coben </h2>
	<img src="https://product-images-online-store.s3.amazonaws.com/Books/the-match.jpg">
	<h2> Price: $22.99 </h2>
  <div class="data-article" id="data-content">
<p> 
From America's most beloved superstar and its greatest storyteller - a thriller about a young singer-songwriter on the rise and on the run, and determined to do whatever it takes to survive.</p>
</div>
</div>

{% endblock %}