{% extends "base.html" %}

{% block body %}
<div id="main">
  <h1 id="data-title">Ten Steps To Nanette</h1>
	<img src = "https://product-images-online-store.s3.amazonaws.com/Books/41Rf74Q727L._SL500_.jpg">
	<h2> Author: Hannah Gadsby </h2>
	<h2> Price: $39.99 </h2>
  <div class="data-article" id="data-content">
<p> 
The memoir from Australia's much-loved comedian, Hannah Gadsby, whose stand-up show and self-described swan-song, Nanette, played to sold-out houses in Australia, the UK and the US. Its launch on Netflix, and subsequent Emmy and Peabody wins, took Nanette (and Hannah) to the world.

Multi-awardwinning Hannah Gadsby transformed comedy with her show Nanette, even as she declared that she was quitting stand-up. Now, she takes us through the defining moments in her life that led to the creation of Nanette and her powerful decision to tell the truth-no matter the cost.</p>
</div>
</div>

{% endblock %}